{% extends 'mainPage/basePage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'runway/style.css'%}"> 
       
        <meta charset="UTF-8">
        <title> boardDetail </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'runway/app.js' %}"></script>
    </head>

    <body>
        <h2 class="boardName"> 활주로 </h2>
        <h4 class="boardName"> 활주로입니다</h4>
        <div class="functionCall">{{post.update_hitCount}}</div> <!--조회수 증가하는 함수-->
       <div>
            <h3 class="title"> {{object.title}} </h3>
            <p class="name"> 
            {% for Relation in object.post_relation.all %}
                {% if Relation.isWriter %}
                    {% if Relation.annonimity %}
                    <td>{{Relation.annoName}}</td>
                    {% else %}
                    <td>{{Relation.user.nickName}}</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </p>
            <p class="date"> {{object.pubDate}}</p>
            <div style="text-align: right;">
        </div>
            <p> {{object.postEditor | safe }} </p>
        {% if voted %}
        <div class='voteResult'>
            <p>찬성 {{forCount}}</p>
            <p>반대 {{againstCount}}</p>
            <p>중립 {{neutralCount}}</p>
        </div>
        {% else %}
        <form method="GET" action='' id='voteBox'>
            <input type="radio" name="voteInfo" value=1>찬성
            <input type="radio" name="voteInfo" value=2>중립
            <input type="radio" name="voteInfo" value=0>반대
            <br>
            <input type="submit" value="투표하기" id="voteButton">
        </form>
        {% endif %}
       <p class="comment">댓글[2]</p>
       <textarea name="comment", cols="100%", rows="5"></textarea>
       <p class="name"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQHjzdvCqUGnltcULXtv2fQH7wzGQnEtJiI7f1BP0P67xis8Cc" width="3%" height="3%"> 바르셀로나 2019.1.15 오전 12:17 </p>
       <p class= "context">있습니다. <button>댓글작성</button></p> 
       <div class="buttons">
            <button>좋아요</button>
            <button>싫어요</button>
            <button>신고</button>
            </div>
       
       <div class="context2">
       <p class="name"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQHjzdvCqUGnltcULXtv2fQH7wzGQnEtJiI7f1BP0P67xis8Cc" width="3%" height="3%"> 크랑이 2019.1.15 오전 12:27 </p>
       <p class= "context">감사합니다.</p>
       <div class="buttons">
            <button>좋아요</button>
            <button>싫어요</button>
            <button>신고</button>
        </div>
    </body>

<html>
{% endblock %}