{% extends 'mainPage/base.html' %}
{% block content %}
<!--mainContents-->
<div id="mainContents">
    <div id="boardName">천마지</div><br>
    <div id="introduction">사랑을 속삭이는 정원 천마지입니다</div><br>
    <div id="title_block">
        <span id="title">{{object.title}}</span>
        <div>
        <span id="profileImage">
            {% if object.getWriter.sex == 'M' %}
            <img src="/static/images/성별_대지 1 사본 20.png" width=15px height=15px>
            {% else %}
            <img src="/static/images/성별_대지 1 사본 19.png" width=15px height=15px>
            {% endif %}
        </span>
        <span id="writerName">{{object.getWriterRelation.annoName}}</span>
        {% if object.was_published_recently %}
        <span id="pubDate">{{object.pubDate|time:"H:i"}}</span>
        {% else %}
        <span id="pubDate">{{object.pubDate|date:"Y-m-d"}} </span>
        {% endif %}
        <span class="functionCall">&nbsp;  &nbsp;조회수:{{post.update_hitCount}}</span>
        </div>
    </div>
    <div id="content">
        {{object.postEditor | safe }}
    </div>
    <div class="buttons">
        <div id="love_block">
        <input type="button" class="like" id="love" name="{{ object.pk }}">
        <span id="likecount">{{likeCount}}</span>
        </div>
        <div id="dislike_block">
        <input type="button" class="dislike" id="noLove" name="{{ object.pk }}">
        <span id="dislikecount">{{dislikeCount}}</span>
        </div>
        <button><a href="{% url 'heart:writeReport' object.pk %}"><img src="/static/images/답글 신고-22.png" width="35px" height="35px"></a></button>
    </div>
    <div class="commentWriter">
        <form id="commentForm"><!--댓글-->
            {% csrf_token %}
            <textarea name="content" placeholder="댓글을 입력하세요"></textarea>
            <input type="number" name="pk" value="{{object.pk}}" style="display:none">
            <input type="radio" name="annonimity" value="True"  style="display:none" checked>
            <input type="radio" name="annonimity" value="False" style="display:none">
            <input type="submit" value="">
        </form>
    </div>
</div>
<!--//mainContents-->
<!--comments-->
<div id="comments">
        {% if comment_list %}
            <div id="commentCount">
                <span id="count">60</span><span>개의 댓글</span><br>
            </div>
            {% for comment in comment_list %}
            <div class="commentBlock">
                <span>
                    {% if comment.getWriter.sex == 'M' %}
                    <img src="/static/images/성별_대지 1 사본 20.png" width=15px height=15px>
                    {% else %}
                    <img src="/static/images/성별_대지 1 사본 19.png" width=15px height=15px>
                    {% endif %}</span>
                <div>
                    <span class="commentWriterName">{{comment.getWriterRelation.annoName}}</span><span class="commentPubDate">{{comment.pubDate}}</span><br>
                    <span class="commentContent">{{comment.content}}</span>
                    <span class="dislikeCount" id="dislikecount_{{comment.pk}}">{{comment.dislikeCount}}&nbsp; </span><input type="button" class="commentDislike noLove" name="{{ comment.pk }}">
                    <span class="likeCount" id="likecount_{{comment.pk}}">{{comment.likeCount}}&nbsp; </span><input type="button" class="commentLike Love" name="{{ comment.pk }}"><br>
                    <button class="subComment" name='{{comment.pk}}'>&nbsp; 답글</button>
                    <button class="report"><a href="{% url 'heart:writeCommentReport' comment.pk %}">&nbsp; 신고</a></button><!--url 추가-->
                </div>
            </div>
            <div class="subCommentWrite" id="subCommentWrite_{{comment.pk}}" style="display: none">
                <form>
                    {% csrf_token %}
                    <textarea name='subCommentContent'></textarea>
                    <input type="radio" name="annonimity" id="annoTrue" value="True" style="display:none" checked>
                    <input type="radio" name="annonimity" id="annoFalse" value="False" style="display:none">
                    <input type="submit" class="subCommentSubmit" value="댓글 달기">
                    <input type="number" name="commentPk" value="{{comment.pk}}" style="display: none">
                </form>
            </div>
            {% if comment.subComments.all %}
            {% for subComment in comment.subComments.all %}
            <div class="subCommentBlock">
                <span>
                    {% if subComment.getWriter.sex == 'M' %}
                        <img src="/static/images/성별_대지 1 사본 20.png" width=15px height=15px>
                        {% else %}
                        <img src="/static/images/성별_대지 1 사본 19.png" width=15px height=15px>
                        {% endif %}</span></span>
                <div>
                    <span class="commentWriterName">{{subComment.getWriterRelation.annoName}}</span><span class="commentPubDate">2019-02-13</span><br>
                    <span class="commentContent">{{subComment.content}}</span>
                    <span class="dislikeCount" id="dislikecount_{{subComment.pk}}">{{subComment.dislikeCount}}&nbsp; </span><input type="button" class="commentDislike noLove" name="{{ subComment.pk }}">
                    <span class="likeCount" id="likecount_{{subComment.pk}}">{{subComment.likeCount}}&nbsp; </span><input type="button" class="commentLike Love" name="{{ subComment.pk }}"><br>
                    <button class="report"><a href="{% url 'heart:writeCommentReport' subComment.pk %}">신고</a></button><!--url추가-->
                </div>
            </div>
            {% endfor %}
            {% endif %}  
        {% endfor %}
        {% else %}
        <h3>댓글이 없습니다 첫번째 댓글의 주인공이 되어주세요!</h3>
        {% endif %}
        </div>
        <!--//comments-->        
    </body>
</html>

{% endblock %}


