<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>한우리 한동 우리들 이야기</title>
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/layout.js' %}"></script>
<style type="text/css"></style>

</style>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<div id="signIn_block">
    <div class="wrap">
        <img id="logo" src="{% static 'images/logo.png' %}" alt="한우리 한동 우리들 이야기" width="127.1px" height="50px" />
        <div id="signInForm">
            <h1>회원가입</h1>
            <h5>한동대, 우리의 이야기를 담은 한우리 입니다.</h5>
            <div id="terms">
                <h5>약관내용</h5>
            </div>
            <form method="post" action="{% url 'join:clause' %}">
                    {% csrf_token %}
                  <div class = "button"><input type="radio" name="check" value="agree" checked="checked">동의합니다</div>
                  <div class = "button"><input type="radio" name="check" value="disgaree">동의하지 않습니다</div>
                  <input class = "next" type="submit" value="다음으로">
            </form>
        </div>
    </div>
</div>


</body>
