
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>한우리 한동 우리들 이야기</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/layout.js"></script>
<style type="text/css">
</style>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
<form method="post">
    {% csrf_token %}
<div id="signIn_block">
    <div class="wrap">
        <img id="logo" src="/static/images/logo.png" alt="한우리 한동 우리들 이야기" width="127.1px" height="50px" />
        <div id="signInForm">
            <h1>회원가입</h1>
            <h5>한동대, 우리의 이야기를 담은 한우리 입니다.</h5>
            <table>
                <tr>
                    <td class="label_tag"><label for="{{ form.name.id_for_label }}">이름</label></td>
                    <td class="field"><input class="form-control" name="name" type="text" value = "{{ data.korName }}" readonly/></td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.studentId.id_for_label }}">학번</label></td>
                    <td class="field"><input class="form-control" name="studentId" type="text" value = "{{ data.studentID }}" readonly/></td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.nickName.id_for_label }}">닉네임</label></td>
                    <td class="field">        
                        {{ form.nickName }}
                        {{ form.nickName.errors}}
                    </td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.birthDate.id_for_label }}">생년월일</label></td>
                    <td class="field">
                        {{ form.birthDate }}
                        {{ form.birthDate.errors }}
                    </td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.phone.id_for_label }}">연락처</label></td>
                    <td class="field"><input class="form-control" name="phone" type="text" value = "{{ data.phone }}" readonly/></td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.sex.id_for_label }}">성별</label></td>
                    <td class="field">      
                        <input type="radio" name="sex" value="M">Male<br>
                        <input type="radio" name="sex" value="F">Female<br>
                        {{ form.sex.errors }}<br>
                    </td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.email.id_for_label }}">이메일</label></td>
                    <td class="field"><input class="form-control" name="email" type="text" value = "{{ data.email }}" readonly/></td>
                </tr>
                <tr>
                    <td class="label_tag"><label for="{{ form.icon,id_for_lable">아이콘</label></td>
                    <td class="field">      
                            <label>
                            <input class="form-control" type="radio" name="icon" value="/static/images/1.png" checked="checked">
                            <img src="/static/images/1.png" class="iconImg">
                          </label>
                          <label>
                            <input class="form-control" type="radio" name="icon" value="/static/images/2.png">
                            <img src="/static/images/2.png" class="iconImg">
                          </label>
                          <label>
                            <input class="form-control" type="radio" name="icon" value="/static/images/3.png">
                            <img src="/static/images/3.png" class="iconImg">
                          </label>
                          <label>
                            <input class="form-control" type="radio" name="icon" value="/static/images/4.png">
                            <img src="/static/images/4.png" class="iconImg">
                          </label>
                          {{ form.icon.errors }}<br>
                        </td>
                </tr>
            </table>
            <input type="Submit" value="Submit">
        </div>
    </div>
</div>

</form>
</body>
</html>

