body{
    padding-left:70px;
    padding-top:30px;
}
input{
    margin-left:50px;
    margin-top:20px;
    width:500px;
    height:50px;
}

textarea{
    margin-top: 50px;
    margin-left:40px;
    width:500px;
    height:500px;
}