
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'potatoField/detailStyle.css'%}">   
        <meta charset="UTF-8">
        <title> boardDetail </title>
    </head>

 <body class="a">
        
        <h1 class="ma">Title : {{post.title}}</h1>
        <div class="b">
            <ul>Writer:{% for relation in post.post_relation.all %}{% if relation.isWriter %}{{relation.user.nickName}}{% endif %}{% endfor %} 조회수 : {{ post.update_hitCount }}</ul>
            <p class="c">  {{post.postEditor | safe }}</p>
        </div>
        <a href="/potatoField/{{ post.id }}/update"><input type="submit" value="update"></a>
        <input type="submit" value="report">
        {% comment %} 댓글 {% endcomment %}
        {% comment %} <form action="{% url 'createComment' pk=post.pk %}" method="POST" class="createComment">
            
        {% csrf_token %}
        <input type="textarea" name="content" form="CommentForm" style="width:50%; height:50px;">
        <button>Submit</button>
        </form>  {% endcomment %}
        
        <form method="GET" action="">
            <input type='textarea' name='content' placeholder="댓글을 입력하세요"/>
            <input type='submit' value='작성'/>
        </form>


        {% comment %} 댓글 출력 {% endcomment %}
        {% for comment in post.comments.all %}
            <div class="comment">
                <strong>{{ comment.writer }}</strong>
                <span class="date">{{ comment.pubDate }}</span>
                <p>  {{comment.content | safe }}  </p>
                {% comment %} <a href="/potatoField/{{ post.id }}/delete"><input type="submit" value="delete"></a> {% endcomment %}
                
            </div>

        {% endfor %}
        
        

    


    </body>

<html>
{% endblock %}