{% extends 'mainPage/baseListPage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'potatoField/style.css'%}">
    <meta charset="UTF-8">
    <title> boardList </title>
    </head>
    <body>
        <h2 class="boardName"> 감자밭 </h2>
        <h4 class="boardName"> 다양한 주제를 공유하는 남송리 대표 자유게시판입니다. </h4>
       {% if post_list %}
       <table width=80%>
        <thead>
            <th>#</th>
            <th width="75%">제목</th>
            <th>글쓴이</th>
            <th>조회수</th>
            <th>날짜</th>
        </thead>
        <tbody id="myTable">
            {% for post in post_list %}<!-- post 객체들을 상대로 for문 돌림 -->
            {% if post.hitCount > 3 %}
            <tr>
                <td>{{post.pk}}</td>
                <td><a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a></td>
                <td>{{post.getWriter.nickName}}</td>
                <td>{{post.hitCount}}</td>
                {% if post.was_published_recently %}
                <td> {{post.pubDate|time:"H:i"}}</td>
                {% else %}
                <td>{{post.pubDate|date:"Y-m-d"}} </td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td>{{post.pk}}</td>
                <td><a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a></td>
                <td>{{post.getWriter.nickName}}</td>
                <td>{{post.hitCount}}</td>
                {% if post.was_published_recently %}
                <td> {{post.pubDate|time:"H:i"}}</td>
                {% else %}
                <td>{{post.pubDate|date:"Y-m-d"}} </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <h3>아직 게시물이 없습니다. 첫번째 게시물의 주인공이 되어주세요! </h3>
        {% endif %}
    <button style="position: absolute; right:20%;"><a href="{% url 'potatoField:potatoFieldCreate' %}">글쓰기</a></button>  
    </body>
<html>
{% endblock %}