{% extends 'mainPage/baseCreatePage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'potatoField/style.css'%}">
    <meta charset="UTF-8">
    <title> boardList </title>
    </head>
    <body>
        <div id="list">
            <div id="boardName">감자밭</div><br>
            <div id="introduction">다양한 주제를 공유하는 남송리 대표 자유게시판입니다</div><br>
            <table id="potatoFieldList">
                <thead>
                    <tr>
                    <th class="number">번호</th>
                    <th class="title">제목</th>
                    <th class="writer">글쓴이</th>
                    <th class="hitCount">조회수</th>
                    <th class="pubDate">날짜</th>
                    </tr>
                </thead>
                {% if post_list %}
                <tbody>
                    {% for post in post_list %}<!-- post 객체들을 상대로 for문 돌림 -->
                    {% if post.hitCount > 3 %}
                    <tr>
                    <td class="number">{{ post.pk }}</td>
                    <td class="title">
                        <a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a>
                        {% if post.was_published_recently %}
                        <img src="/static/images/new.png" weight="10px" height="10px">
                        {% endif %}
                    </td>
                    <td class="writer">{{post.getWriter.nickName}}</td>
                    <td class="hitCount">{{post.hitCount}}</td>
                    {% if post.was_published_recently %}
                    <td class="pubDate"> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td class="pubDate">{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    </tr>
                    {% else %}
                    <tr>
                    <td class="number">{{ post.pk }}</td>
                    <td class="title">
                        <a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a>
                        {% if post.was_published_recently %}
                        <img src="/static/images/new.png" weight="10px" height="10px">
                        {% endif %}
                    </td>
                    <td class="writer">{{post.getWriter.nickName}}</td>
                    <td class="hitCount">{{post.hitCount}}</td>
                    {% if post.was_published_recently %}
                    <td class="pubDate"> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td class="pubDate">{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                {% else %}
                <h3>아직 게시물이 없습니다. 첫번째 게시글의 주인공이 되어주세요! </h3>
                {% endif %}
            </table>
        </div>
    </body>
<html>
{% endblock %}

{% block pagination %}
{# Pagination #}
{% if is_paginated %}
<nav id="pageNation">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        {% comment %} <ol> {% endcomment %}
        <a href="?page={{ 1 }}">
            <span> << </span></a>
        <a href="?page={{ page_obj.previous_page_number }}">
            <span> < </span></a>
        {% comment %} </ol> {% endcomment %}
    {% else %}
        {% comment %} <ol class="disabled"> {% endcomment %}
        <span> << </span>
        <a href="#">
            <span> < </span></a>
        {% comment %} </ol> {% endcomment %}
    {% endif %}
        
    {% for page in page_range %}
        {% comment %} <ol {% if page == page_obj.number %}class="active"{% endif %}> {% endcomment %}
        <span {% if page == page_obj.number %}class="active"{% endif %}>
        <a href="?page={{ page }}">{{ page }}</a>
        </span>
    {% endfor %}
    {% if page_obj.has_next %}
    {% comment %} <ol> {% endcomment %}
<a href="?page={{ page_obj.next_page_number }}">
    <span> > </span>

<a href="?page={{ page_range|length }}">
    <span> >> </span></a>
</a>
{% comment %} </ol> {% endcomment %}
{% else %}
{% comment %} <ol {% if not page_obj.has_next %}class="disabled"{% endif %}> {% endcomment %}
<span {% if not page_obj.has_next %}class="disabled"{% endif %}>
<a href="#">
    <span> > </span>
</a>
<span> >> </span>
</span>


{% endif %}
</ul>
</nav>
{% endif %}
<div id="searchBox">
    <form method="GET" action="">
            <select name="filter">
                <option value="noFilter">선택안함</option>
                <option value="title">제목</option>
                <option value="writer">글쓴이</option>
                <option value="titleNContent">제목+내용</option>
            </select>
            <input type='text' name='q' placeholder="검색하세요"/>
            <input type='submit' value=""/>
    </form>
</div>
{% endblock %}