
{% block content %}
<!DOCTYPE html>
<html>
    <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'potatoField/createStyle.css'%}">   
        <meta charset="UTF-8">
        <title> boardUpdate </title>
    </head>

    <body>
        <h1 class="ma">Title : {{post.title}}</h1>
            <div class="b">
                <p class="c">  {{post.content}}</p>
            </div>

        <div>
            <form method="POST">
            {% csrf_token %}
            {% comment %} <p><label for="id_content">Content:</label> <textarea type="text" name="content" value="" maxlength="3000" required id="id_content"></textarea></p> {% endcomment %}
            {% comment %} {{ form.as_p }}  {% endcomment %}
            {{ form.media }}
            {{ form }}
            <button>Submit</button>
            </form>
        </div>
    </body> 


<html>
{% endblock %}