{% extends 'mainPage/baseMypage.html' %}
{% block content %}
    {% load static %}
    <div id="list">
            <div id="boardName">내가 쓴 댓글</div><br>
            <div id="introduction"></div><br>
            <table id="myComment">
                <thead>
                    <tr>
                    <th class="number">번호</th>
                    <th class="title">댓글 내용</th>
                    <th class="pubDate">날짜</th>
                    </tr>
                </thead>
                {% if latest_comment_list %}
                <tbody>
                    {% for relation in latest_comment_list %}
                    <tr>
                        <td class="number">{{relation.comment.pk}}</td>
                        <td class="title">{{ relation.comment.content|truncatechars:30 }}
                        {% if relation.post.was_published_recently %}
                        <img src="/static/images/new.png" weight="10px" height="10px">
                        {% endif %}
                        </td>
                        {% if relation.comment.was_published_recently %}
                        <td class="pubDate"> {{relation.comment.pubDate|time:"H:i"}}</td>
                        {% else %}
                        <td class="pubDate">{{relation.comment.pubDate|date:"Y-m-d"}} </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <h3>내가 쓴 댓글이 없습니다.</h3>
            {% endif %}
        </div>   

{% endblock %}
