{% extends 'mainPage/baseListPage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>myData</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mypage/style.css' %}">
</head>
<body>
<form action="{% url 'mypage:update' user.pk %}" method="GET">
  {% csrf_token %}
<h2>마이페이지</h2>
<h4>각종 설정들을 확인 및 수정하세요</h4>

<table class="t01">
  <tr>
      <td><a href="{% url 'mypage:myPost' user.pk %}">내가 쓴 글</a></td>
      <td><a href="{% url 'mypage:myComment' user.pk %}">내가 쓴 댓글</a></td>
      <td><a href="{% url 'mypage:myReport' user.pk %}">신고 내역</a></td>
      <th><a href="{% url 'mypage:myData' user.pk %}">나의 정보</th>
  </tr>
</table>
<table>
  <tr>
    <th>이름</th>
    <td>{{ user.name }}</td>
  </tr>
  <tr>    
    <th>생년월일</th>
    <td>{{ user.birthDate|date:"Y-m-d"  }}</td></tr>
  <tr>    
    <th>성별</th>
    <td>{{ user.sex }}</td>
  </tr>
  <tr>    
    <th>닉네임</th>
    <td>{{ user.nickName }}</td>
  </tr>
  <tr>    
    <th>핸드폰</th>
    <td>{{ user.phone }}</td>
  </tr>
  <tr>    
    <th>아이콘</th>
    <td>---</td>
  </tr>
  <tr>    
    <th>가입일시</th>
    <td>{{ user.date_joined|date:"Y-m-d" }}</td>
  </tr><br>
  </table>
  <button>수정</button>
</form>
</body>
</html>
{% endblock %}
