{% extends 'mainPage/baseListPage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>myPost</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mypage/style.css' %}">
</head>
<body>
<h2>마이페이지</h2>
<h4>각종 설정들을 확인 및 수정하세요</h4>

<table class="t01">
  <tr>
    <th><a href="{% url 'mypage:myPost' %}">내가 쓴 글</a></th>
    <td><a href="{% url 'mypage:myComment' %}">내가 쓴 댓글</a></td>
    <td><a href="{% url 'mypage:myReport' %}">신고 내역</a></td>
    <td><a href="{% url 'mypage:myData' %}">나의 정보</td>
  </tr>
</table>

<table class="main">
  <tr class="t02">
    <th>번호</th>
    <th>분류</th>
    <th>제목</th> 
    <th>글쓴이</th>
    <th>조회수</th>
    <th>날짜</th>
  </tr>

  {% for post,in24 in my_post_dic.items %}
    <tr>
    <td> {{post.pk}} </td>
    {% if post.boardNum == 1 %}
      <td>감자밭 </td>
      {% elif post.boardNum == 2 %}
      <td>천마지</td>
      {% elif post.boardNum == 3 %}
      <td>대나무숲</td>
      {% elif post.boardNum == 4 %}
      <td>활주로 </td>
      {% elif post.boardNum == 5 %}
      <td>한동장터</td>
      {% elif post.boardNum == 6 %}
      <td>Lost&Found</td>
      {% elif post.boardNum == 7 %}
      <td>부동산</td>
      {% elif post.boardNum == 8 %}
      <td>공지사항</td>
    {% endif %}
    <td> {{post.title|truncatechars:30 }} </td>
    <td> {{post.writer}} </td>
    <td> {{post.hitCount}} </td>
    {% if in24 %}
      <td> {{post.pubDate|time:"H:i"}}</td>
    {% else %}
      <td>{{post.pubDate|date:"Y-m-d"}} </td>
    {% endif %}
    </tr>
  {% endfor %}
</table>
<br>

</body>
</html>
{% endblock %}