{% extends 'mainPage/baseMypage.html' %}
{% block content %}
    {% load static %}
    <div id="list">
            <div id="boardName">내가 쓴 글</div><br>
            <div id="introduction"></div><br>
            <table id="myPost">
                <thead>
                    <tr>
                    <th class="number">번호</th>
                    <th class="boardNum">분류</th>
                    <th class="title">제목</th>
                    <th class="hitCount">조회수</th>
                    <th class="pubDate">날짜</th>
                    </tr>
                </thead>
                {% if latest_post_list %}
                <tbody>
                    {% for relation in latest_post_list %}
                    <tr>
                        <td class="number">{{relation.post.pk}}</td>
                        {% if relation.post.boardNum == 1 %}
                        <td>감자밭 </td>
                        <td class="title"> 
                            <a href="{% url 'potatoField:potatoFieldDetail' relation.post.pk %}">{{relation.post.title|truncatechars:30 }}</a>
                        {% elif relation.post.boardNum == 2 %}
                        <td>천마지</td>
                        <td class="title"> 
                            <a href="{% url 'skyLake:skyLakeDetail' relation.post.pk %}">{{relation.post.title|truncatechars:30 }}</a>
                        {% elif relation.post.boardNum == 3 %}
                        <td>대나무숲</td>
                        <td class="title"> 
                            <a href="{% url 'bamboo:bambooDetail' relation.post.pk %}">{{relation.post.title|truncatechars:30 }}</a>
                        {% elif relation.post.boardNum == 4 %}
                        <td>활주로 </td>
                        <td class="title"> 
                            <a href="{% url 'runway:runwayDetail' relation.post.pk %}">{{relation.post.title|truncatechars:30 }}</a>

                        {% elif relation.post.boardNum == 5 %}
                        <td>한동장터</td>
                        <td class="title"> 
                            <a href="#self">{{relation.post.title|truncatechars:30 }}</a>

                        {% elif relation.post.boardNum == 6 %}
                        <td>Lost&Found</td>
                        <td class="title"> 
                            <a href="#self">{{relation.post.title|truncatechars:30 }}</a>

                        {% elif relation.post.boardNum == 7 %}
                        <td>부동산</td>
                        <td class="title"> 
                            <a href="#self">{{relation.post.title|truncatechars:30 }}</a>

                        {% elif relation.post.boardNum == 8 %}
                        <td>공지사항</td>
                        <td class="title"> 
                            {{relation.post.title|truncatechars:30 }}

                      {% endif %}
                      {% if relation.post.was_published_recently %}
                      <img src="/static/images/new.png" weight="10px" height="10px">
                      {% endif %}
                    </td>
                        <td class="hitCount"> {{relation.post.hitCount}}</td>
                        {% if relation.post.was_published_recently %}
                        <td class="pubDate"> {{relation.post.pubDate|time:"H:i"}}</td>
                        {% else %}
                        <td class="pubDate">{{relation.post.pubDate|date:"Y-m-d"}} </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            <h3>내가 쓴 게시글이 없습니다.</h3>
            {% endif %}
        </div>   

{% endblock %}
