{% extends 'mainPage/baseMypage.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>myData</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'mypage/style.css' %}">

</head>
<body>
<div id="list">
    <form method="post">
      {% csrf_token %}
    <div id="boardName">마이페이지</div><br>
    <div id="introduction">각종 설정들을 확인 및 수정하세요</div><br>
<table>
  <tr>
    <th>이름</th>
    <td>{{ user.name }}</td>
  </tr>
  <tr>    
    <th>생년월일</th>
    <td>{{ user.birthDate|date:"Y-m-d"  }}</td></tr>
  <tr>    
    <th>성별</th>
    <td>{{ user.sex }}</td>
  </tr>
  <tr>    
    <th><label for="{{ form.nickName.id_for_label }}">닉네임</label></th>
    <td><input class="form-control" name="nickName" type="text" value = "{{ user.nickName }}"/></td>
    {{ form.nickName.errors}}
    
  </tr>
  <tr>    
    <th><label for="{{ form.phone.id_for_label }}">연락처</label></th>
    <td><input class="form-control" name="phone" type="text" value = "{{ user.phone }}"/></td>
    {{ form.phone.errors }}
  </tr>
  <tr>    
    <th>가입일시</th>
    <td>{{ user.date_joined|date:"Y-m-d" }}</td>
  </tr>
  <tr>    
      <th><label for="{{ form.icon.id_for_label }}">아이콘</label></th>
      <td>
      <label>
          <input class="form-control" type="radio" name="icon" value="/static/images/1.png">
          <img src="/static/images/1.png" class="img">
        </label>
        <label>
          <input class="form-control" type="radio" name="icon" value="/static/images/2.png">
          <img src="/static/images/2.png" class="img">
        </label>
        <label>
          <input class="form-control" type="radio" name="icon" value="/static/images/3.png">
          <img src="/static/images/3.png" class="img">
        </label>
        <label>
          <input class="form-control" type="radio" name="icon" value="/static/images/4.png">
          <img src="/static/images/4.png" class="img">
        </label>
        {{ form.icon.errors }}<br>
      </td>
    </tr>
  <br>
  </table>
  <button class="button">확인</button>
  <!--<button class="button" id="cancel" name="cancel" value="cancel">취소</button>-->
</form>
</div>
</body>
</html>
{% endblock %}
