
{% load static %}
<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>한우리 한동 우리들 이야기</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/layout.js"></script>
<style type="text/css">
</style>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<script type="text/javascript"> 
    var imgUrl = "{{ user.icon|safe }}"
</script> 
</head>
<body>
<div id="wrap"> 
    <!--header-->
    <div id="header"> 
        <!--wrap-->
        <div class="wrap">
            <h1><a href="{% url 'mainPage:mainPage' %}"><img src="/static/images/logo.png" alt="한우리 한동 우리들 이야기" width="127.1px" height="50px" /></a></h1>
            <!--hsearch-->
            <div id="hsearch">
                <input type="text" placeholder="검색어를 입력하세요">
                <input type="submit" value="" >
            </div>
            <a href="#self" id="bt_search">검색</a>
            <!--//hsearch--> 
            <!--gnb-->
            <a href="#self" id="bt_gnb"><i></i><i></i><i></i><i></i>메뉴열기</a>
            <div id="gnb">
                <ul>
                    <li><span>커뮤니티</span>
                        <ul>
                            <li><a href="{% url 'potatoField:potatoFieldList' %}">감자밭</a></li>
                            <li><a href="{% url 'skyLake:skyLakeList' %}">천마지</a></li>
                            <li><a href="{% url 'bamboo:bambooList' %}">대나무 숲</a></li>
                            <li><a href="{% url 'runway:runwayList' %}">활주로</a></li>
                        </ul>
                    </li>
                    <li><span>한동장터</span>
                        <ul>
                            <li><a href="{% url 'market:marketList'%}">전체</a></li>
                            <li><a href="#self">책</a></li>
                            <li><a href="#self">옷</a></li>
                            <li><a href="#self">생활용품</a></li>
                        </ul>
                    </li>
                    <li><span>한동라이프</span>
                        <ul>
                            <li><a href="{% url 'lostAndFound:list' %}">LOST&FOUND</a></li>
                            <li><a href="#self">부동산</a></li>
                        </ul>
                    </li>
                    <li><span>생활정보</span>
                        <ul>
                        	<li><a href="http://seal.handong.edu/">SEAL</a></li>
                        	<li><a href="http://itaxi.handong.edu/">아이택시</a></li>
                        	<li><a href="http://stu.handong.edu/">총학생회</a></li>
                        	<li><a href="http://www.dongari.or.kr/handongdae/file/">총동연회</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--//gnb--> 
        </div>
        <!--//wrap--> 
    </div>
    <!--//header--> 
    <!--main_contents-->
    <div id="main_contents"> 
        <!--wrap-->
        <div class="wrap">
            <!--section_1-->
            <div id="section_1">
                <!--wrap-->
                <div class="wrap">
                <!--banner_1-->
                <div id="banner_1">
                    banner
                </div>
                <!--//banner_1-->
                <!--loginComplete-->
                {% if user.is_authenticated %}
                <div id="loginComplete">
                    <div class="profileImage"><img id="image" src=""></div>
                    <script type="text/javascript"> 
                        document.getElementById('image').src = imgUrl
                    </script>
                    <div class="userName">{{ user.nickName }}</div>
                    <div class="logout"><a href="{% url 'logout' %}">로그아웃</a></div>
                    <div class="bottom">
                        <form>
                            {% csrf_token %}
                        <div class="notice"><button>알림</button>
                            <div class="noticeContent">
                                <ul>
                                    <button class="deleteAll">전체 삭제</button><br>
                                    {% for alarm, pk in alarmDic.items %}
                                    <li>{{ alarm }}<button name="delete" class="delete" value="{{pk}}">X</button></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        </form>
                        <div class="mypage"><a href="{% url 'mypage:myPost' user.pk %}">마이페이지</a></div>
                    </div>
                </div>
                <!--//loginComplete-->
                {% else %}
                <!--login-->
                <div id="login">
                    <form action="{% url 'join:check' %}" method="post">
                        {% csrf_token %}
                    <input type="text" name="username" placeholder="hisnet ID" class="username">
                    <input type="password" name="password" placeholder="hisnet PW" class="password">
                    <input type="submit" value="로그인" class ="submit">
                    </form>
                </div>
                {% endif %}
                <!--//login-->
                </div>
                <!--//wrap-->
            </div>
            <!--//section_1--> 
            <!--section_2-->
            <div id="section_2">
                <!--wrap-->
                <div class="wrap">
                    <!--bestFive-->
                    <div id="bestFive">
                            <div id="container">
                                <ul class="bestFive_info">
                                    <li>커뮤니티</li>
                                    <li class="active"><a href="#potatoField">감자밭</a></li>
                                    <li><a href="#skyLake">천마지</a></li>
                                    <li><a href="#bamboo">대나무 숲</a></li>
                                    <li><a href="#runway">활주로</a></li>
                                </ul>
                                <hr>
                                <div id="potatoField" class="bestFive_info_content on">
                                    <ol>
                                        {% for post in potatoFieldTopFour %}
                                        <li id="potatoFieldRank_{{forloop.counter}}"><a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                                            {% if post.was_published_recently %}
                                            <td> {{post.pubDate|time:"H:i"}}</td>
                                            {% else %}
                                            <td>{{post.pubDate|date:"Y-m-d"}} </td>
                                            {% endif %}
                                            {% if post.was_published_recently %}
                                            <img src="/static/images/new.png" weight="10px" height="10px">
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                <div id="skyLake" class="bestFive_info_content">
                                    <ol>
                                        {% for post in skyLakeTopThree %}
                                        <li id="skylakeRank_{{forloop.counter}}"><a href="{% url 'skyLake:skyLakeDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                                            {% if post.was_published_recently %}
                                            <td> {{post.pubDate|time:"H:i"}}</td>
                                            {% else %}
                                            <td>{{post.pubDate|date:"Y-m-d"}} </td>
                                            {% endif %}
                                            {% if post.was_published_recently %}
                                            <img src="/static/images/new.png" weight="10px" height="10px">
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                <div id="bamboo" class="bestFive_info_content">
                                    <ol>
                                        {% for post in bambooTopFour %}
                                        <li id="bambooRank_{{forloop.counter}}"><a href="{% url 'bamboo:bambooDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                                            {% if post.was_published_recently %}
                                            <td> {{post.pubDate|time:"H:i"}}</td>
                                            {% else %}
                                            <td>{{post.pubDate|date:"Y-m-d"}} </td>
                                            {% endif %}
                                            {% if post.was_published_recently %}
                                            <img src="/static/images/new.png" weight="10px" height="10px">
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                                <div id="runway" class="bestFive_info_content">
                                    <ol>
                                        {% for post in runwayTopThree %}
                                        <li id="runwayRank_{{forloop.counter}}"><a href="{% url 'runway:runwayDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                                            {% if post.was_published_recently %}
                                            <td> {{post.pubDate|time:"H:i"}}</td>
                                            {% else %}
                                            <td>{{post.pubDate|date:"Y-m-d"}} </td>
                                            {% endif %}
                                            {% if post.was_published_recently %}
                                            <img src="/static/images/new.png" weight="10px" height="10px">
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div> 
                    </div>
                    <!--//bestFive-->
                    <!--hnews-->
                    <div id="hnews">
                        <span>한동신문사</span>
                        <a href="http://www.hgupress.com/">전체보기</a>
                        <hr>
                        <div id="newsContent">
                            세계 최초로 자율주행차 상용 서비스가 
                            시작됐다. 세계 최대 인터넷 기업 구글의 
                            자율주행차 화사인 웨이모가 12월5일 
                            (현지시각) 세계 최초로 자율 주행차 상용
                            서비스가 시작됐다. 세계 최대 인터넷 기업 
                            </div>
                    </div>
                    <!--//hnews-->
                    <!--banner_2-->
                    <div id="banner_2">
        
                    </div>
                    <!--//banner_2-->
                </div>
                <!--//wrap-->
            </div>
            <!--//section_2-->
            <!--section_3-->
            <div id="section_3">
                <!--wrap-->
                <div class="wrap">
                    <!--market-->
                    <div id="market">
                        <div id="container">
                            <ul class="market_info">
                                <li>벼룩시장</li>
                                <li class="active"><a href="#sell">팝니다</a></li>
                                <li><a href="#buy">삽니다</a></li>
                            </ul>
                            <hr>
                            <div id="sell" class="market_info_content on">
                                팝니다
                            </div>
                            <div id="buy" class="market_info_content">
                                삽니다
                            </div>
                        </div> 
                    </div>
                    <!--market//-->
                    <!--extra-->
                    <div id="extra">
                        <span>거주정보</span>
                        <hr>
                    </div>
                    <!--extra//-->
                    <!--lostAndFound-->
                    <div id="lostAndFound">
                        <div id="container">
                            <ul class="lostAndFound_info">
                                <li class="active"><a href="#FOUND">FOUND</a></li>
                                <li><a href="#LOST">LOST</a></li>
                            </ul>
                            <hr>
                            <div id="FOUND" class="lostAndFound_info_content on">
                                찾아가세요
                            </div>
                            <div id="LOST" class="lostAndFound_info_content">
                                찾아주세요
                            </div>
                        </div>      
                    </div>
                    <!--lostAndFound//-->
                </div>
                <!--//wrap-->
            </div>
            <!--//section_3-->                
        </div>
        <!--//wrap--> 
    </div>
    <!--//main_contents--> 
    <!--footer-->
    <div id="footer"> 
        <!--wrap-->
        <div class="wrap">
            copyright (c) handong univ.
        </div>
        <!--//wrap--> 
    </div>
    <!--//footer--> 
</div>
    <!-- 좋아요 싫어요 기능을 위한 자바스크립트, 추후에 추가되는 기능들을 위한 것  -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
    var likeUrl = "{% url 'heart:postLike' %}";
    var dislikeUrl ="{% url 'heart:postDislike' %}"
    var deleteNoticeUrl ="{% url 'mainPage:deleteNotice' %}"
    var deleteAllUrl ="{% url 'mainPage:deleteAll' %}"
    var csrf_token = '{{ csrf_token }}'
    </script>
    <script src="{% static 'heart/app.js' %}"></script>
    <script src="{% static 'mainPage/app.js' %}"></script>
</body>
</html>
