 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainPage/style.css' %}">
<html>
    <head>
        <title>
            한우리-한동 우리들의 이야기
        </title>
        <script type="text/javascript"> 
            var imgUrl = "{{ user.icon|safe }}"
        </script> 
    </head>
    <body>
        <a href="{% url 'mainPage:mainPage' %}"><img src="{% static 'mainPage/images/HUS_Logo_1.png' %}" class="Logo"/></a>
        <div class="search">
            <input type="text" value="검색창">
            <button>검색버튼</button>
        </div>
        <table>
                <tr>
                    <!-- {% for index in range %}
                    <th>
                        {{ index }}. 대게시판 제목
                    </th>
                    {% endfor %} -->
                    <th>커뮤니티</th>
                    <th>한동장터</th>
                    <th>한동라이프</th>
                    <th>한동정보</th>
                </tr>
                <tr>   
                    <!-- {% for index in range %} 
                    <td>
                        <ul>
                            {% for index in range %} 
                            <li>소게시판 제목</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% endfor %} -->
                    <td>
                        <ul>
                        <li><a href="{% url 'potatoField:potatoFieldList' %}">감자밭</a></li>
                        <li><a href="{% url 'skyLake:skyLakeList' %}">천마지</a></li>
                        <li><a href="{% url 'bamboo:bambooList' %}">대나무숲</a></li>
                        <li><a href="{% url 'runway:runwayList' %}">활주로</a></li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="{% url 'market:marketList'%}">전체</a></li>
                        <li>#top 1</li>
                        <li>#top 2</li>
                        <li>#top 3</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="{% url 'lostAndFound:list' %}">LOST & FOUND</a></li>
                        <li>부동산</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                        <li><a href="http://seal.handong.edu/">SEAL</a></li>
                        <li><a href="http://itaxi.handong.edu/">아이택시</a></li>
                        <li><a href="http://stu.handong.edu/">총학생회</a></li>
                        <li><a href="http://www.dongari.or.kr/handongdae/file/">총동연회</a></li>
                        </ul>
                    </td>
                </tr>
        </table>
        <section class="add">
            <h2>광고</h2>
        </section>
        <section class="login">
                {% if user.is_authenticated %}
                    <section class="login2">
                        <div>
                            <div>
                                <img src="" class="img" id="image"/>
                                <script type="text/javascript"> 
                                    document.getElementById('image').src = imgUrl
                                </script>
                                <h2 style="display: inline">{{ user.nickName }}</h2>
                            </div>
                            <h4>알림</h4>
                            <h4><a href="{% url 'mypage:myPost' user.pk %}">마이페이지</a></h4>
                            <h4><a href="{% url 'logout' %}">로그아웃</a></h4> 
                            <form>
                                {% csrf_token %}
                            <div class="notice">
                                <ul>
                                    <button class="deleteAll">전체 삭제</button><br>
                                    {% for alarm, pk in alarmDic.items %}
                                    <li>{{ alarm }}<button name="delete" class="delete" value="{{pk}}">X</button></li>
                                    {% endfor %}
                                </ul>
                            </div> 
                            </form>
                        </div>
                    </section>
                {% else %}
                <h2>Login</h2>
                    <form action="{% url 'join:check' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="hisnet ID">
                    <input type="password" name="password" placeholder="hisnet PW">
                    <input type="submit" value="로그인">
                    </form>
                {% endif %}
            </section>
        <section class ="bestFive">
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'potatoField')">감자밭</button>
            <button class="tablinks" onclick="openTab(event, 'skyLake')">천마지</button>
            <button class="tablinks" onclick="openTab(event, 'bamboo')">대나무숲</button>
            <button class="tablinks" onclick="openTab(event, 'runway')">활주로</button>
        </div>    
        <div id="potatoField" class="tabcontent potatoFieldTopFour">
            <ol>
                {% for post in potatoFieldTopFour %}
                <li><a href="{% url 'potatoField:potatoFieldDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                    {% if post.was_published_recently %}
                    <td> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    {% if post.was_published_recently %}
                    <img src="/static/mainPage/images/new.png" weight="10px" height="10px">
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="skyLake" class="tabcontent skyLakeTopThree">
            <ol>
                {% for post in skyLakeTopThree %}
                <li><a href="{% url 'skyLake:skyLakeDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                    {% if post.was_published_recently %}
                    <td> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    {% if post.was_published_recently %}
                    <img src="/static/mainPage/images/new.png" weight="10px" height="10px">
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="bamboo" class="tabcontent bambooTopFour">
            <ol>
                {% for post in bambooTopFour %}
                <li><a href="{% url 'bamboo:bambooDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                    {% if post.was_published_recently %}
                    <td> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    {% if post.was_published_recently %}
                    <img src="/static/mainPage/images/new.png" weight="10px" height="10px">
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="runway" class="tabcontent runwayTopThree">
            <ol>
                {% for post in runwayTopThree %}
                <li><a href="{% url 'runway:runwayDetail' post.pk %}">{{post.title}}</a>&nbsp;  &nbsp;
                    {% if post.was_published_recently %}
                    <td> {{post.pubDate|time:"H:i"}}</td>
                    {% else %}
                    <td>{{post.pubDate|date:"Y-m-d"}} </td>
                    {% endif %}
                    {% if post.was_published_recently %}
                    <img src="/static/mainPage/images/new.png" weight="10px" height="10px">
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        </section>  
        <section class="news">
            <h2>한동신문사</h2>
        </section>
        <section class="market">
            <h2>한동장터</h2>
            {% for index in range %}
                <div class="marketItem">
                    <img src="{% static 'mainPage/images/handongLogo.png' %}" class="img"/>
                    <h2>상품 이름</h2>
                    <h3>20,000</h3>
                </div>
            {% endfor %}
        </section>
        <section class="lostNFound">
            <h2>Lost&Found</h2>
            {% for index in range %}
            <div class="lostItem">
                <img src="{% static 'mainPage/images/handongLogo.png' %}" class="img"/>
                <h2>글 제목</h2>
            </div>
        {% endfor %}
        </section>
        <!-- 좋아요 싫어요 기능을 위한 자바스크립트, 추후에 추가되는 기능들을 위한 것  -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>
        var likeUrl = "{% url 'heart:postLike' %}";
        var dislikeUrl ="{% url 'heart:postDislike' %}"
        var deleteNoticeUrl ="{% url 'mainPage:deleteNotice' %}"
        var deleteAllUrl ="{% url 'mainPage:deleteAll' %}"
        var csrf_token = '{{ csrf_token }}'
        </script>
        <script src="{% static 'heart/app.js' %}"></script>
        <script src="{% static 'mainPage/app.js' %}"></script>
    </body>
</html>
